blinker           
chardet            
click              
colorama           
Flask              
Flask-WTF          
gunicorn           
importlib_metadata 
itsdangerous       
Jinja2             
MarkupSafe         
packaging          
pillow             
pip              
PyPDF2             
reportlab          
setuptools         
typing_extensions  
Werkzeug          
WTForms           
zipp              